node_modules/*
!node_modules/playwright
!node_modules/playwright/**
!node_modules/playwright-core
!node_modules/playwright-core/**
src/**
test/**
.git/**
.vscode/**
*.ts
tsconfig.json
esbuild.js
*.vsix
../**
